.test {
    padding: 3rem;
    background-color: var(--color--information);
    color: var(--color--blue);
  }
  
  .test--error {
    background-color: var(--color--error--background);
    color: var(--color--error);
  }
